#include "windows.h"

#define VER_FILEVERSION                 1, 6, 2, 1272
#define VER_FILEVERSION_STR             "1.6.2 Revision 1272\0"
#define VER_PRODUCTVERSION              VER_FILEVERSION
#define VER_PRODUCTVERSION_STR          VER_FILEVERSION_STR

1 ICON "Blank.ico"
2 ICON "UpArrow.ico"
3 ICON "DownArrow.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION VER_FILEVERSION
  PRODUCTVERSION VER_PRODUCTVERSION
  FILEFLAGSMASK 0x3FL
  FILEFLAGS 0x0L
  FILEOS 0x4L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo" BEGIN
    BLOCK "040904B0" BEGIN
      VALUE "OriginalFilename", "CharsOccurrences.wlx"
      VALUE "LegalCopyright", "\xA9 Marian Denes, 2013-2014"
      VALUE "ProductVersion", VER_PRODUCTVERSION_STR
      VALUE "ProductName", "TC Lister Plugin for Displaying Character's and Digit's Occurrences"
      VALUE "InternalName", "CharsOccurrences Lister Plugin"
      VALUE "CompanyName", "Marian Denes"
      VALUE "Comments", "Lister Plugin for Total Commander"
      VALUE "FileVersion", VER_FILEVERSION_STR
      VALUE "FileDescription", "TC lister plugin for displaying occurrences of characters and digits"
    END
  END
  BLOCK "VarFileInfo" BEGIN
    VALUE "Translation", 0x0409, 1200 // Angliètina (USA)
  END
END


